<div class="calendar-container">
	<div class="calendar-header">
		<div style="grid-column:2; grid-row:1">
			<h1 id="calendar-month"></h1>
			<p id="calendar-year"></p>
		</div>
		<a onclick="calendar_month_update('previous')" style="grid-column:1; grid-row:2">
			&Lt;
		</a>
		<a onclick="calendar_month_update('next')" style="grid-column:3; grid-row:2">
			&Gt;
		</a>
		<a onclick="calendar_month_update('now')" style="grid-column:2; grid-row:2">
			&#8962;
		</a>
	</div>
	<div class="calendar">
	</div>
</div>
