<div>
  <h1>Contact Us</h1>
  <form action="https://formspree.io/f/xjvzwpov" method="POST">
    <ul>
      <li class="contact-inner">
        <label>
          Your name:
        </label>
        <input type="text" name="name" />
      </li>
      <li class="contact-inner">
        <label>
          Your email:
        </label>
        <input type="email" name="email" />
      </li>
      <li class="contact-inner">
        <label>
          Your phone no:
        </label>
        <input type="tel" name="telephone" />
      </li>
      <li class="contact-inner">
        <label>
          Your message:
        </label>
        <textarea name="message"></textarea>
      </li>
      <!-- your other form fields go here -->
      <li class="contact-inner button-center">
        <button class="button button-primary" type="submit">Send</button>
      </li>
    </ul>
  </form>
</div>