---
layout: default
bodyClass: "page-home"
---

<div class="intro-home">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-8 col-lg-8 order-1 order-md-1 contact-intro-home">
        {{ content }}
        <a href="#contact-form" class="button">Contact</a>
      </div>
    </div>
  </div>
</div>

{% if site.data.ceremonies %}
{% if site.data.ceremonies.meeting %}
{% assign meetings = site.data.ceremonies.meeting | sort: 'weight' %}
<div class="strip">
  <div class="container pt-6 pb-6 pb-md-10">
    <div class="row">

      <div class="col-12 col-md-6 mb-1">
        {% for mtg in meetings %}
        <div class="feature">
          <h3 class="feature-title">{{ mtg.purpose }}</h3>
          <div class="feature-subtitle">{{ mtg.subtext }}</div>
          <div class="feature-content">{{ mtg.when }}</div>
        </div>
        {% endfor %}
      </div>

      <div class="col-12 col-md-6 mb-1">
        <iframe title="Canberra" class="h-100 w-100" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d52083.04325743418!2d149.130067!3d-35.326098!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2eddd6c50d9089bb!2sChurch%20in%20Canberra!5e0!3m2!1sen!2sus!4v1670252755860!5m2!1sen!2sus" allowfullscreen loading="lazy"></iframe>
      </div>

    </div>
  </div>
</div>
{% endif %}
{% endif %}


{% if page.show_call_box %}
<div id="contact-form" class="strip-primary-gradient-top-bottom contact">
  <div class="container pt-6 pb-6 pb-md-10">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 mb-1">
        {% include contact.html %}
      </div>
    </div>
  </div>
</div>
{% endif %}