---
layout: default
bodyClass: "page-services"
---

<div class="intro strip-white-gradient-top-bottom">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12">
        {{ content }}
      </div>
    </div>
  </div>
</div>

<div class="container container-fluid pt-6 pb-6">
  <div class="row">
    {% for service in site.about %}
      <div class="col-12 col-md-5 mb-3 me-3 service-container">
        <div class="service-content">
          <h2>
            <a href="{{ service.url | relative_url }}">{{ service.title }}</a>
          </h2>
          <p>{{ service.excerpt | markdownify | strip_html | truncate: 100 }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
